* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

/*all ends*/

.header {
    height: 57px;
    position: relative;
}
.header span {
    font-size: 21px;
    font-family: 黑体;
    color: #393a3a;
    line-height: 57px;
    margin-left: 102px;
}
.header>img {
    position: absolute;
    top: 13px;
    left: 60px;
}
.header ul:after {
    content: "";
    display: block;
    clear: both;
}
.header ul {
    margin-top: 15px;
    margin-right: 30px;
    float: right;
    position: relative;
}
.header li {
    padding: 0 23px 17px 23px;
    float: left;
}
.header li a {
    font-size: 14px;
    font-family: 微软雅黑;
}
.header li.banner-1 a {
    color: #787b83;
}
.header li.banner-2 a {
    color: #e74f4d;
}
.header li.banner-1:hover {
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}
.header li img {
    position: absolute;
    top: 3px;
    right: 53px;
}

/*header ends*/

.body-1 {
    height: 689px;
    background-image: url(big-image.png);
    font-family: 微软雅黑;
    color: white;
    position: relative;
}
.body-1>img {
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}
.body-1 div p {
    position: absolute;
    z-index: 2;
}
.body-1 div p:nth-child(1) {
    font-size: 60px;
    top: 171px;
    left: 115px;
}
.body-1 div p:nth-child(2) {
    font-size: 21px;
    line-height: 30px;
    top: 305px;
    left: 125px;
}
.body-1 button {
    position: absolute;
    z-index: 3;
    width: 331px;
    height: 65px;
    font-size: 30px;
    color: white;
    font-family: 微软雅黑;
    background: #e7504d;
    border: 0;
    top: 425px;
    left: 125px;
}

/*body-1 ends*/

.body-4 {
    background-image: url(map.png);
    height: 341px;
    font-family: 微软雅黑;
}
.body-4>img {
    opacity: 0.2;
    position: absolute;
    z-index: 1
}
.body-4>div {
    width: 1280px;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.body4-container {
    padding: 35px 127px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.body4-container>div {
    width: 236px;
    height: 36px;
    background: white;
}
.body4-container>div.search-button {
    background: #be4e48;
    font-size: 14px;
    line-height: 36px;
    color: white;
}
.body-4 p {
    color: white;
}
.body-4 p:first-child {
    font-size: 21px;
    margin-top: 53px;
    margin-bottom: -7px;
}
.body-4>div>img+p {
    font-size: 12px;
    line-height: 47px;
    text-align: center;
}
.body4-container .select {
    color: #867e7a;
    background-image: url(little-red-button.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
    line-height: 36px;
    text-indent: 10px;
}
.body4-container .select li {
    line-height: 26px;
    text-indent: 30px;
}
.option {
    margin-top: 1px;
    background: #ddd;
    display: none;
}
ul.option > li:hover {
    background: #be4e48;
    color: white;
    background-image: url(gou.png);
    background-repeat: no-repeat;
    background-position: 4% 50%;
}
.select:focus {
    outline: 1px solid #be4e48;
}
.body4-container .select:focus>.option {
    display: block;
    outline: 1px solid #be4e48;
}

/*body-4 ends*/

.body-7 {
    width: 1280px;
    height: 521px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.sectionOne, .sectionTwo {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.sectionOne, .sectionTwo, .sectionThree {
    font-size: 21px;
    font-family: 黑体;
    text-align: center;
    line-height: 30px;
}
.sectionOne {
    background: #e74f4d;
    color: white;
}
.sectionTwo {
    background: white;
    color: #e74f4d;
}
.sectionThree {
    width: 430px;
    background-image: url(woman.png);
}
.body-7 div div {
    width: 170px;
    height: 44px;
    line-height: 44px;
    margin: 15px auto;
}
.sectionOne div {
    border: 1px solid white;
}
.sectionTwo div {
    border: 1px solid #e74f4d;
}
.body-7 div p {
    margin-top: 175px;
}

/*body-7 ends*/

.body-8 {
    height: 630px;
    background: white;
    text-align: center;
}
.body-8 p:first-child {
    font-size: 21px;
    font-family: 黑体;
    color: #323333;
    margin-bottom: -5px;
    margin-top: 120px;
}
.body-8 img+p {
    font-size: 12px;
    height: 18px;
    font-family: 微软雅黑;
    color: #aaaaaa;
    margin-top: 10px;
}
.body-8>div {
    width: 1000px;
    height: 285px;
    margin: 0 auto;
    margin-top: 105px;
}
.body-8 div div {
    float: left;
}
.body-8>div>div:first-child {
    width: 290px;
    height: 285px;
    text-align: left;
    color: #231815;
}
.body-8>div>div:last-child {
    width: 640px;
    height: 285px;
    margin-left: 70px;
}
.body-8 div div span {
    font-size: 14px;
    font-family: 黑体;
}
.body-8 div div p, .body-8 li {
    font-size: 12px;
    font-family: 宋体;
    opacity: 0.6;
}
.body8-1ul {
    margin-bottom: 35px;
}
.body-8 div div p {
    line-height: 21px;
}
.body-8 li {
    float: right;
}
.body-8 ul:after {
    content: "";
    display: block;
    clear: both;
}
.first-p {
    margin-top: 25px;
}
.last-p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.body8-3ul {
    margin-top: 20px;
}
.body-8 .right-block div {
    background: #ededee;
    font-family: 宋体;
    font-size: 12px;
    text-align: left;
    position: relative;
}
.right-block1, .right-block2, .right-block3, .right-block4 {
    width: 311px;
    height: 41px;
}
.right-block1, .right-block2 {
    margin-bottom: 14px;
}
.right-block1, .right-block3 {
    margin-right: 18px;
}
.right-block5 {
    width: 639px;
    height: 121px;
    margin: 14px 0;
}
.body-8 div.right-block6 {
    width: 639px;
    height: 41px;
    font-family: 黑体;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
}
.right-block div label {
    padding-left: 16px;
    line-height: 41px;
    opacity: 0.8;
    position: absolute;
    top: 2px;
}
.right-block .right-block5 label {
    position: absolute;
    top: -2px;
}
.right-block .right-block1 input, .right-block .right-block2 input {
    border: none;
    width: 257px;
    height: 41px;
    padding-left: 54px;
    background: #ededee;
}
.right-block .right-block3 input, .right-block .right-block4 input {
    border: none;
    width: 233px;
    height: 41px;
    padding-left: 78px;
    background: #ededee;
}
textarea {
    width: 619px;
    height: 101px;
    text-indent: 155px;
    border: none;
    background: #ededee;
    padding: 10px;
}

/*body-8 ends*/* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

/*all ends*/

.header {
    height: 57px;
    position: relative;
}
.header span {
    font-size: 21px;
    font-family: 黑体;
    color: #393a3a;
    line-height: 57px;
    margin-left: 102px;
}
.header>img {
    position: absolute;
    top: 13px;
    left: 60px;
}
.header ul:after {
    content: "";
    display: block;
    clear: both;
}
.header ul {
    margin-top: 15px;
    margin-right: 30px;
    float: right;
    position: relative;
}
.header li {
    padding: 0 23px 17px 23px;
    float: left;
}
.header li a {
    font-size: 14px;
    font-family: 微软雅黑;
}
.header li.banner-1 a {
    color: #787b83;
}
.header li.banner-2 a {
    color: #e74f4d;
}
.header li.banner-1:hover {
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}
.header li img {
    position: absolute;
    top: 3px;
    right: 53px;
}

/*header ends*/

.body-1 {
    height: 689px;
    background-image: url(big-image.png);
    font-family: 微软雅黑;
    color: white;
    position: relative;
}
.body-1>img {
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}
.body-1 div p {
    position: absolute;
    z-index: 2;
}
.body-1 div p:nth-child(1) {
    font-size: 60px;
    top: 171px;
    left: 115px;
}
.body-1 div p:nth-child(2) {
    font-size: 21px;
    line-height: 30px;
    top: 305px;
    left: 125px;
}
.body-1 button {
    position: absolute;
    z-index: 3;
    width: 331px;
    height: 65px;
    font-size: 30px;
    color: white;
    font-family: 微软雅黑;
    background: #e7504d;
    border: 0;
    top: 425px;
    left: 125px;
}

/*body-1 ends*/

.body-4 {
    background-image: url(map.png);
    height: 341px;
    font-family: 微软雅黑;
}
.body-4>img {
    opacity: 0.2;
    position: absolute;
    z-index: 1
}
.body-4>div {
    width: 1280px;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.body4-container {
    padding: 35px 127px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.body4-container>div {
    width: 236px;
    height: 36px;
    background: white;
}
.body4-container>div.search-button {
    background: #be4e48;
    font-size: 14px;
    line-height: 36px;
    color: white;
}
.body-4 p {
    color: white;
}
.body-4 p:first-child {
    font-size: 21px;
    margin-top: 53px;
    margin-bottom: -7px;
}
.body-4>div>img+p {
    font-size: 12px;
    line-height: 47px;
    text-align: center;
}
.body4-container .select {
    color: #867e7a;
    background-image: url(little-red-button.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
    line-height: 36px;
    text-indent: 10px;
}
.body4-container .select li {
    line-height: 26px;
    text-indent: 30px;
}
.option {
    margin-top: 1px;
    background: #ddd;
    display: none;
}
ul.option > li:hover {
    background: #be4e48;
    color: white;
    background-image: url(gou.png);
    background-repeat: no-repeat;
    background-position: 4% 50%;
}
.select:focus {
    outline: 1px solid #be4e48;
}
.body4-container .select:focus>.option {
    display: block;
    outline: 1px solid #be4e48;
}

/*body-4 ends*/

.body-7 {
    width: 1280px;
    height: 521px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    position: relative;
}
.sectionOne, .sectionTwo {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.sectionOne, .sectionTwo, .sectionThree {
    font-size: 21px;
    font-family: 黑体;
    text-align: center;
    line-height: 30px;
}
.sectionOne {
    background: #e74f4d;
    color: white;
}
.sectionTwo {
    background: white;
    color: #e74f4d;
}
.sectionThree {
    width: 430px;
    background-image: url(woman.png);
}
.body-7 div div {
    width: 170px;
    height: 44px;
    line-height: 44px;
    margin: 15px auto;
}
.sectionOne div {
    border: 1px solid white;
}
.sectionTwo div {
    border: 1px solid #e74f4d;
}
.body-7 div p {
    margin-top: 175px;
}

/*body-7 ends*/

.body-8 {
    height: 630px;
    background: white;
    text-align: center;
}
.body-8 p:first-child {
    font-size: 21px;
    font-family: 黑体;
    color: #323333;
    margin-bottom: -5px;
    margin-top: 120px;
}
.body-8 img+p {
    font-size: 12px;
    height: 18px;
    font-family: 微软雅黑;
    color: #aaaaaa;
    margin-top: 10px;
}
.body-8>div {
    width: 1000px;
    height: 285px;
    margin: 0 auto;
    margin-top: 105px;
}
.body-8 div div {
    float: left;
}
.body-8>div>div:first-child {
    width: 290px;
    height: 285px;
    text-align: left;
    color: #231815;
}
.body-8>div>div:last-child {
    width: 640px;
    height: 285px;
    margin-left: 70px;
}
.body-8 div div span {
    font-size: 14px;
    font-family: 黑体;
}
.body-8 div div p, .body-8 li {
    font-size: 12px;
    font-family: 宋体;
    opacity: 0.6;
}
.body8-1ul {
    margin-bottom: 35px;
}
.body-8 div div p {
    line-height: 21px;
}
.body-8 li {
    float: right;
}
.body-8 ul:after {
    content: "";
    display: block;
    clear: both;
}
.first-p {
    margin-top: 25px;
}
.last-p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.body8-3ul {
    margin-top: 20px;
}
.body-8 .right-block div {
    background: #ededee;
    font-family: 宋体;
    font-size: 12px;
    text-align: left;
    position: relative;
}
.right-block1, .right-block2, .right-block3, .right-block4 {
    width: 311px;
    height: 41px;
}
.right-block1, .right-block2 {
    margin-bottom: 14px;
}
.right-block1, .right-block3 {
    margin-right: 18px;
}
.right-block5 {
    width: 639px;
    height: 121px;
    margin: 14px 0;
}
.body-8 div.right-block6 {
    width: 639px;
    height: 41px;
    font-family: 黑体;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
}
.right-block div label {
    padding-left: 16px;
    line-height: 41px;
    opacity: 0.8;
    position: absolute;
    top: 2px;
}
.right-block .right-block5 label {
    position: absolute;
    top: -2px;
}
.right-block .right-block1 input, .right-block .right-block2 input {
    border: none;
    width: 257px;
    height: 41px;
    padding-left: 54px;
    background: #ededee;
}
.right-block .right-block3 input, .right-block .right-block4 input {
    border: none;
    width: 233px;
    height: 41px;
    padding-left: 78px;
    background: #ededee;
}
textarea {
    width: 619px;
    height: 101px;
    text-indent: 155px;
    border: none;
    background: #ededee;
    padding: 10px;
}

/*body-8 ends*/


/*body-2*/
.body-2{height:251px;  display: -webkit-flex;display: flex;}
.body-2>div{flex:1;height: 100%;text-align: center;padding-top:45px;}
.body-2>div> .box_border{margin-top: 45px;border-right: 1px solid  #aaa;}
.body-2>div:last-child .box_border {border-right: none;}
.body-2>div> .box_border>span{display: inline-block;width:156px;text-align: center;font-size:14px;line-height: 18px;color: #767777;    font-family: 黑体;}

/*body-3*/
.body-3{height:270px;background:#ededec;padding-top: 90px;}
.body-3 .sec{text-align: center;}
.body-3>.sec>div{color:#8f9090;font-size:54px; font-family: 黑体;margin-top: 47px;}


/*body-5*/
.body-5{height:605px;background:#f8f8f8;display: flex;display: -webkit-flex;padding:0 120px; align-items:center;}
.body-5>div{flex:1;text-align:center;height: 394px;}
.body-5>div:hover{position: relative;}
.body-5>div:hover >.img{position:absolute;bottom:0;left:0;bottom:0;width:260px;}
.body-5>div:hover >.text{position:absolute;top:0;width:260px;}
.body-5>div:hover .title{font-size:21px;letter-spacing: 38px;margin-left: 20px;}
.body-5>div img{padding: 12px;background-color: #fff;border: 1px solid #dadada;border-bottom:none;}
.body-5>div .text{margin-top: 8px;}
.body-5>div .title{font-size:14px;color:#323333;line-height: 24px;font-family: 黑体;}
.body-5>div .sub-title{color:#808181;font-size: 12px;line-height: 24px;font-family: 黑体;}

/*body-6*/
.body-6{position: relative;}
.body-6 ul li{width:12px;height:12px;display: inline-block;background: url("dot.png");}
.body-6 ul li:hover{background: url("act-dot.png");}
.body-6 .left{color:#fff;font-family: 黑体;position:relative;float:left;}
.body-6 .left>div{left:238px;top:130px;text-align: center;}
.body-6 .left h2{font-size: 50px;}
.body-6 .left h1{font-size:158px;line-height: 130px;}
.body-6 .left p {font-size:22px;line-height: 44px;}
.body-6 .right{float:right;width:430px;height:565px;font-family: 黑体;text-align: center;}
.body-6 .right h2{font-size:22px;color:#323333;line-height: 70px;}
.body-6 .right h2 span{color:#e7504d;}
.body-6 .right p{color:#bdbdbd;font-size:12px;line-height: 30px;text-align: left;}
.body-6 .right>div{width:290px;margin: 0 auto;margin-top: 166px;}
.body-6 .right>div>div{border:1px solid #e77b7e;color:#e77b7e;width:104px;height:30px;margin:0 auto;line-height: 30px;margin-top:40px;margin-bottom: 24px;}
.body-6 .triangle{width: 0;height: 0;border-style: solid;border-width: 14px 23px 14px 0;border-color: transparent #fff transparent transparent;position: absolute;z-index: 10;right:430px;top:270px;}
.body-7 .triangle{width: 0;height: 0;border-style: solid;border-width:  14px 0 14px 23px;border-color: transparent  transparent transparent #fff;position: absolute;z-index: 10;right:407px;top:270px;}

/*body-9*/
footer{background:#32363e;color:#fff;width:100%;text-align: center;font-family:黑体;padding-top:90px;min-width: 1280px;}
footer h2{font-size:21px;line-height: 40px;}
footer p{font-size:12px;line-height: 18px;}
footer .email{width:512px;height:40px;margin: 0 auto;margin-top: 26px;}
footer .email input{float: left;border:none;line-height: 40px;width:422px;padding-left:10px;}
footer .email button{background:#6f7178;border:none;width:80px;height:40px;color:#fff;float:right;}
footer .icon{margin-top: 38px;}
footer .icon img{margin-right:28px;margin-bottom: 72px;}
footer .bottom{height:58px;background:#2f2f38;}
footer .bottom div{width:1280px;margin: 0 auto;}

footer .bottom div .left{float:left;margin-left: 100px;margin-top: 30px;}
footer .bottom div .right{float:right;margin-right:40px;margin-top: 32px;}
